<h1>用户信息</h1>
<p>
  <strong>用户名:</strong>
  <%= @user.username %>
</p>
 
<p>
  <strong>密码:</strong>
  <%= @user.password %>
</p>
<p>
  <strong>博客名:</strong>
  <%= @user.blog_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
