<div class="row">
  <div class="col-sm-8">
    <table class="table table-bordered">
      <thead>
          <tr class="info">
             <th>访问者地址</th>
             <th>访问url</th>
             <th>备注</th>
             <th>操作</th>
          </tr>
       </thead>
       <% @staticstics.each_with_index do |staticstic,index| %>
        <%tr_class= (index%2==0)? "class=success": ""%>
        <tr <%= tr_class%>>
          <td><%= staticstic.url %></td>
          <td><%= staticstic.ip_addr %></td>
          <td><%= staticstic.remark %></td>
          <td><%= link_to '删除', blog_staticstic_path(staticstic),method: :delete, data: { confirm: '删除后不可恢复，确认需要删除吗？' } %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<ul class="pagination">
    <li><a >&laquo;</a></li>
    <li><a >1</a></li>
    <li><a >2</a></li>
    <li><a >3</a></li>
    <li><a >4</a></li>
    <li><a >5</a></li>
    <li><a >&raquo;</a></li>
    <li><button id="test_jquery" >66</button></li>
</ul>
