
<div class="col-sm-8">
  <h1><%= "#{@user.blog_name}" %></h1>
  <table>
     <% @articles.each do |article| %>
      <tr>
        <td><%= link_to "#{article.title}", blog_user_article_path(@user,article) %></td>
        <td>
        <%= link_to '编辑', edit_blog_user_article_path(@user,article) %>
        <%= link_to '删除', blog_user_article_path(@user,article),method: :delete, data: { confirm: '删除后不可恢复，确认需要删除吗？' } %></td>
      </tr>
    <% end %>
  </table>
</div>
<div class="col-sm-4">
  <%= link_to '新建文章', new_blog_user_article_path(@user) %>
</div>

