<h1><%= @article.title %></h1>

 
<p>
  <%= @article.text %>
</p>

<p><%= "共收到 #{@article.comments.size} 条回复 "%></p>
<%= render @article.comments %>

<p>回复:</p>
<%= render 'blog/comments/form' %>

<%= link_to 'Edit', edit_blog_user_article_path(@user,@article) %> |
<%= link_to 'Back', blog_user_articles_path(@user) %>
