<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{@user.blog_name}" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'blog', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'blog', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <div id="header">
        <div class="pull-home">
          <%= link_to "博客家园" ,root_path%>
        </div>
        <div class="pull-menu">
          <ul>
            <li><a href="#news">登陆</a></li>
            <li><a href="#contact">注册</a></li>
            <li><a href="#about">设置</a></li>
          </ul>
        </div>
      </div>

   <!--    <div id="navbar" >
        <nav >
          <ul>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
          </ul>
        </nav>
      </div> -->

      <div id='maincontent'>
        <%= yield %>
      </div>

      <div id="footer">
      </div>

    </div>
  </body>
</html>
