<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{@user.blog_name}" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'blog', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'blog', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <div id="header">
        <div class="pull-home">
          <%= link_to "博客" ,root_path,{:title => "频道首页"} %>
        </div>
        <div class="pull-menu">
          <ul>
            <% if user_signed_in? %> 
              <li><%= link_to current_user.email,user_path(current_user.id) %></li>
              <li><%= link_to "退出" ,destroy_user_session_path , method: :delete%></li>
            <% else %>
              <li><%= link_to "登陆" ,new_user_session_path %></li>
              <li><%= link_to "注册" ,new_user_registration_path%></li>
            <% end %>
          </ul>
        </div>
      </div>

   <!--    <div id="navbar" >
        <nav >
          <ul>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
          </ul>
        </nav>
      </div> -->

      <div id='maincontent'>
        <%= yield %>
      </div>

      <div id="footer">
      </div>

    </div>
  </body>
</html>
