<!DOCTYPE html>
<html>
  <head>
    <title>
    <% if @user.nil?%>
    <%= "小猴子博客" %>
    <% else %>
    <%= "#{@user.blog_name}" %>
    <% end %>
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'blog', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'blog', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <div id="header">
        <div class="pull-home">
          <%= link_to "小猴子" ,blog_welcome_index_path,{title: "log",class: "root"} %>
          <%= link_to "博客" ,blog_welcome_index_path,{title: "首页"} %>
        </div>
        <div class="pull-menu">
            <% if user_signed_in? %> 
              <%= link_to "退出" ,destroy_user_session_path , method: :delete%>
              <%= link_to current_user.email,"" %>
            <% else %>
              <%= link_to "注册" ,new_user_registration_path%>
              <%= link_to "登陆" ,new_user_session_path %>
            <% end %>
        </div>
      </div>


      <div id='maincontent'>
      <div id='test'></div>
        <%= yield %>
      </div>

      <div id="footer">
      </div>

    </div>
  </body>
</html>
