<!DOCTYPE html>
<html>
  <head>
    <title>博客家园</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'welcome', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'welcome', 'data-turbolinks-track': 'reload' %>
           <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
